.header__logo {
display: flex;
width: 176.58px;
height: 52px;     

}

@media all and (min-width : 1024px) and (max-width : 1440px) {
    .header__logo {
        max-width: 176.58px;
        max-height: 52px; 
        }
}

@media all and (min-width : 768px) and (max-width : 1024px){
    .header__logo {
        max-width: 176.58px;
        max-height: 52px; 
        }
}

@media all and (min-width : 425px) and (max-width : 768px){
    .header__logo {
        max-width: 176.58px;
        max-height: 52px; 

        }   
}
@media all and (max-width : 425px) {
    .header__logo {
    max-width: 142px;
   
    }
}