.barentsburg__title {
    width: 583px;
    height: 40px;   
    
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 61px;
    color: #FFFFFF;
    margin:0px 0px 20px;
}